# git ignore file for Spelunk!

# Ignore all vim/emacs backup files
*~
.*.swp
.*.swo
.*.swn
.*.swm
.*.swl
*#*

# Also ignore *my* backup files
*.bak

# Always ignore the binary directory
bin*/

# The notes directory is not for the public eye; always ignore this!
notes/

# Files included only for my own use and not meant for the repository
compwin.bat
test/

dub.selections.json
.dub

# Unix executables:
swashrl
gdb

# Windows executables:
swashrl.exe
gdb.exe
