# git ignore file for Spelunk!

# Ignore all vim/emacs backup files
*~
*.swp
*#*

# Also ignore *my* backup files
*.bak

# The notes directory is not for the public eye; always ignore this!
notes/

# Files included only for my own use and not meant for the repository
compwin.bat
test/
assets/

dub.selections.json
.dub

spelunk
