        <ul>
          <li><a class="buttons aboutrl" href="{{ site.baseurl }}/index.html">About SwashRL</a></li>
          <li><a class="buttons aboutrl" href="{{ site.baseurl }}/history.html">Project History</a></li>
          <li><a class="buttons" href="{{ site.github.repository_url }}/releases">Releases</a></li>
          <li><a class="buttons github" href="{{ site.github.repository_url }}/wiki">Read the Wiki</a></li>
          <li><a class="buttons github" href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </ul>
